.markdown-body {
  line-height: 1.6;
}

.markdown-body :not(pre) code,
.markdown-body pre {
  border-radius: 4px;
}

.markdown-body .hljs {
  padding: 0;
}

.markdown-body code {
  font-family: inherit;
}

.markdown-body :not(pre) code {
  background: #eaeaea;
  font-size: 0.85em;
  padding: 0.2em 0.4em;
}

.markdown-body pre {
  background: #282c34;
  padding: 16px;
  margin-bottom: 16px;
  font-family: inherit;
}

.markdown-body hr {
  margin: 15px 0;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin: 40px 0px 16px;
}

.markdown-body h1,
.markdown-body h2 {
  position: relative;
  margin: 56px 0px 16px;
  padding: 8px 0px;
}
.markdown-body h2:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background: linear-gradient(90deg, #4bc0c8 0%, #4bc0c8 16%, #ccc 16%, #ccc 100%);
}

.markdown-body blockquote {
  margin: 0;
}

.markdown-body ol,
.markdown-body ul {
  margin-bottom: 0;
  margin-top: 0;
}

.markdown-body dd {
  margin-left: 0;
}

.markdown-body pre {
  margin-bottom: 0;
  margin-top: 0;
}

.markdown-body > :first-child {
  margin-top: 0 !important;
}

.markdown-body > :last-child {
  margin-bottom: 0 !important;
}

.markdown-body blockquote,
.markdown-body dl,
.markdown-body ol,
.markdown-body p,
.markdown-body pre,
.markdown-body table,
.markdown-body ul {
  margin-bottom: 16px;
  margin-top: 0;
}

.markdown-body hr {
  margin: 24px 0;
}

.markdown-body blockquote {
  border-left: 0.25em solid #dfe2e5;
  padding: 0 1em;
}

.markdown-body blockquote > :first-child {
  margin-top: 0;
}

.markdown-body blockquote > :last-child {
  margin-bottom: 0;
}

.markdown-body ol ol,
.markdown-body ol ul,
.markdown-body ul ol,
.markdown-body ul ul {
  margin-bottom: 0;
  margin-top: 0;
}

.markdown-body li > p {
  margin-top: 16px;
}

.markdown-body li + li {
  margin-top: 0.25em;
}

.markdown-body dl {
  padding: 0;
}

.markdown-body dl dt {
  margin-top: 16px;
  padding: 0;
}

.markdown-body dl dd {
  margin-bottom: 16px;
  padding: 0 16px;
}

.markdown-body img {
  background-color: #fff;
  box-sizing: content-box;
  max-width: 100%;
}

.markdown-body img[align='right'] {
  padding-left: 20px;
}

.markdown-body img[align='left'] {
  padding-right: 20px;
}
